/target
/cookbooks
/tmp
/lib
/instance-src
/builds
/.vagrant
/.idea
/.buildpath
/.project
/.settings
.DS_Store
._.DS_Store
vendor
composer.lock
composer.phar
/src/var/www/keep-alive-ssl-cert.pem
url-pattern.txt
build.properties
