/target
/cookbooks
/tmp
/lib
/instance-src
/builds
/.vagrant
/.idea
/.buildpath
/.project
/.settings
.DS_Store
._.DS_Store
vendor
/src/var/www/keep-alive-ssl-cert.pem
url-pattern.txt
Cheffile.lock
build.properties
build-debug.xml
jmeter.log
